.slick-dots li.slick-active button:before {
    opacity: .75 !important;
    color: white !important;
}

.slick-dots li button:before {
	 color: white!important;
}

.slick-next {
    right: 5px!important;

}

.slick-prev {
    left: 5px !important;
    z-index: 1;
}


.slick-initialized .slick-slide img {
position: relative;
top: 50%;
transform: translateY(-50%);
    margin: 0 auto;
}

.sub {
font-size: 24px;
}

