
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
/*@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,700');
*//*@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*/@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Muli');


body {
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	max-width: 100%;
}

img {
	    max-width: 100%;
}

ul {

	    margin-top: 20px;
    margin-bottom: 20px;
	text-align: right;
}

header {
	width: 100%;
}
h1 {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}
h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	   font-style: italic;
	   color: white;
}
.logo {

	    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    position: absolute;
}


.nav {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
/*	float: right;
	display: flex;
	align-items: baseline;*/
}

.nav li {

    display: inline;
 padding: 0 20px;
 list-style-type: none;
 text-decoration: none;

}

.red, .red:hover, .red:focus, .red:active {
	color: red;
	 text-decoration: none;
}

.button {
	background: #ff0000;
	padding: 10px 20px;
	border-radius: 30px;
	outline: none;
	border: none;
	color: white;
	    margin-top: 15px;

}

.fa {
	color:  #ff0000;
	font-size: 20px;
}

.autoplay {
	height: 80vh;

}
.slick-slide img {
	    width: 100%;
    height: auto;
}
.slide1 {
/*	    background-repeat: no-repeat;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;*/
    width: 100%;
height: 80vh;


}
.slide2 {
/*	    background-repeat: no-repeat;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center center;*/
    width: 100%;
  height: 80vh;

}
.slide3 {
/*	    background-repeat: no-repeat;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center center;*/
    width: 100%;
height: 80vh;

}
.intro {
	height: 83vh;
	width: 100%;
	position: absolute;
    z-index: 1;

}

.CTA {
	position: absolute;
	  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    left: 10%;
}
@media only screen and (min-width: 1090px) {
	.nav li {
	    padding: 0 30px;
	}
}